html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right bottom, #20252c, #1a2436, #1a213f, #201c46, #2d1449);
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

/* LOGO STYLING */

.logo-designing {
    width: 50%;
    margin: 10px;
}

/* ************ */

.hero-banner {
    font-size: 100px;
}

.container-img {
    /* background-image: url("../img/customImg/darkgreen_and_black_geometry_abstrack-1920x1080.jpg"); */
    background-attachment: fixed;
    background-size: cover;
}

.right-angle-container {
    clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
}

.left-angle-container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
}

.green-gradiant {
    background-image: linear-gradient(to right top, #00265f, #052265, #131d6a, #21156e, #300570);
}

.choose-dfh {
    display: flex;
}

.custom-card-container {
    transition: 0.3s;
}

.left-deg:hover {
    transform: rotate(-3deg);
    background-color: #fdcb6e;
    color: rgb(83, 83, 83);
}

.right-deg:hover {
    transform: rotate(3deg);
    background-color: #ff6b81;
    color: rgb(42, 40, 68);
}

.custom-card-container:hover {
    transition: 0.5s;
    box-shadow: 1px 1px 3px rgb(80, 80, 80);
}

.box-pulse {
    animation: pulse 5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

.box-bounce {
    animation: bounce 2s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

.main-btn-anim {
    animation: headShake 5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

@media (max-width:500px) {
    .left-angle-container {
        clip-path: none
    }
    .right-angle-container {
        clip-path: none;
    }
    .choose-dfh {
        display: none;
    }
    .hero-banner {
        font-size: 50px;
    }
}